{
  "extends": ["@pacote/eslint-config", "@pacote/eslint-config-react", "@pacote/eslint-config-jest"],
  "overrides": [
    {
      "files": ["__mocks__/**/*.js"],
      "env": {
        "jest": true
      }
    }
  ]
}
