{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "standard",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "prettier/standard",
    "prettier/@typescript-eslint",
    "prettier/react",
    "plugin:prettier/recommended"
  ],
  "plugins": ["@typescript-eslint", "prettier", "react"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/no-useless-constructor": 0,
    "no-useless-constructor": 0,
    "react/prop-types": 0
  },
  "overrides": [
    {
      "files": ["__mocks__/**/*.js", "**/*.spec.{ts,tsx}"],
      "env": {
        "jest": true
      }
    }
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
